<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>

<body>
    <h4>Revise password</h4>
    <p>You have passes the verification, please set your new password</p>
    <form id="reset_password_form" action="{% url 'modify_pwd' %}" method="post">
        <ul>
            <li class="{% if modify_form.errors.password1 %}errorput{% endif %}">
                <span class="">Please enter your new password:</span>
                <input type="password" name="password1" id="pwd">
                <i></i>
            </li>
            <input type="hidden" name="email" value="{{ email }}">
            <li class="{% if modify_form.errors.password2 %}errorput{% endif %}">
                <span class="">Please confirm your new password:</span>
                <input type="password" name="password2" id="repwd">
                <i></i>
            </li>
            <div class="error btns" id="jsPasswdResetTips">
                {% for key,error in modify_form.errors.items %}
                    {{ key }}:{{ error }}
                {% endfor %}
                {{ msg }}
            </div>
            <li class="button">
                <input type="submit" value="Submit">
            </li>
        </ul>
        {% csrf_token %}
    </form>
    <div>
        <a href="/">Home page</a>
    </div>
</body>

</html>